.rent-section {
	position: relative;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(min-content(5, 1fr));
	margin-bottom: 8em;

	.rent-section-letters {
		position: relative;
		display: grid;
		grid-column: 1/11;
		grid-row: 1/2;
		justify-content: end;

		&__shadow {
			font-size: 36rem;
			line-height: 1em;
			text-transform: uppercase;
			font-weight: bold;
			color: #cccccc18;
		}
	}

	.rent-section-box {
		position: relative;
		display: grid;
		grid-column: 7/10;
		grid-row: 1/3;
		align-content: center;
		justify-content: center;
		margin-top: 18em;

		&__title {
			font-size: 3rem;
			color: $main-green;
			text-transform: uppercase;
			font-weight: 300;
		}

		&__description {
			margin-top: 2em;
			line-height: 1.7em;
			font-size: 1.6rem;
			color: $pure-white;
		}
	}

	.cards {
		position: relative;
		display: inline-grid;
		grid-column: 1/11;
		grid-row: 4/5;
		margin-top: 15em;

		.cards-box {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-inline: 2em;
			gap: 2em;

			&__item {
				display: flex;
				flex-direction: column;
				background-color: #cccccc1f;
				border-radius: 30px;
				max-width: 22em;
				min-width: 17em;
				height: 560px;
			}

			&__content {
				padding-top: 4em;
				height: 28em;
			}

			&__title {
				font-size: 2.4rem;
				text-transform: uppercase;
				text-align: center;
				color: $pure-white;
				margin-bottom: 2em;
			}

			&__description {
				padding-inline: 2em;
				line-height: 1.7em;
				font-size: 1.6rem;
				color: $light-grey;
			}
		}
	}
}
