*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
$pure-white: #fff;
$violet: #a67cf7;
$light-grey: #cccc;
$main-green: #b1ef3a;

:root {
	--font-thin: 'Raleway-Thin', sans-serif;
	--font-regular: 'Raleway-Regular', sans-serif;
	--font-medium: 'Raleway-Medium', sans-serif;
	--font-bold: 'Raleway-Bold', sans-serif;
	--font-extrabold: 'Raleway-ExtraBold', sans-serif;
	--font-black900: 'Raleway-Black', sans-serif;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	max-width: 1920px;
	height: 100svh;
	font-size: 1.6rem;
	font-family: var(--font-regular);
	background-image: url('/images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: local;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

header {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding-top: 0.5em;
	font-size: 2.4rem;
	background: transparent;
	z-index: 10;

	.logo {
		display: flex;
		margin-left: 3em;

		&__img {
			width: 53px;
			height: 53px;
		}
	}

	nav,
	.join {
		display: flex;
		margin: 0.5em;
	}

	nav {
		position: relative;

		.item {
			margin: 0.5em 2em;
			padding: 0.5em;
			color: $pure-white;
			text-decoration: none;
		}
	}

	.join {
		margin-right: 3em;

		&__text {
			color: $main-green;
			text-decoration: none;
		}
	}

	.burger {
		display: none;
	}
}

main {
	#home {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100svh;
		margin-inline: 0;
		margin-bottom: 1em;

		.main-background {
			background-image: url('/images/main-background.png');
			background-position-x: 12%;
			background-size: cover;
			width: 100%;
			height: 100%;

			.hero-img {
				background-image: url('/images/logo-hero.png');
				background-position: center;
				background-size: 45%;
				background-repeat: no-repeat;
				width: 100%;
				height: 100%;
				box-shadow: none;
			}
		}
	}

	#about-us {
		position: relative;
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		// grid-template-rows: repeat(10, 1fr);
		grid-template-rows: repeat(3, 1fr);
		height: 100svh;

		.shadow {
			position: relative;
			display: grid;
			grid-column: 1/10;
			// grid-row: 1/11;
			grid-row: 1/4;
			z-index: 0;

			&__up,
			&__down {
				display: grid;
				font-size: 36rem;
				line-height: 1em;
				text-transform: uppercase;
				font-weight: bold;
				color: #cccccc18;
			}

			&__up {
				padding-left: 0.2em;
			}
			&__down {
				padding-bottom: 0.7em;
			}
		}

		.about-text {
			position: relative;
			display: grid;
			grid-column: 3/8;
			// grid-row: 4/8;
			grid-row: 1/3;
			margin-top: 16em;
			margin-inline: 2em;
			z-index: 1;

			&__title {
				color: $main-green;
				text-transform: uppercase;
			}

			&__description {
				color: $light-grey;
				padding-bottom: 0.5em;
				line-height: 1.6em;
			}
		}

		.counter {
			position: relative;
			display: grid;

			grid-column: 3/8;
			// grid-row: 9/10;
			grid-row: 3/4;
			margin-bottom: 3em;
			z-index: 1;

			.counter__box {
				display: flex;
				justify-content: space-around;
				align-items: center;

				&--item {
					position: relative;
					text-align: center;

					.number {
						font-size: 2.6rem;
						font-weight: bold;
						color: $pure-white;
						margin-bottom: 1em;
					}

					.counter-text {
						padding-inline: 2.2em;
						font-size: 2rem;
						font-family: var(--font-thin);
						color: $light-grey;
					}
				}
			}
		}
	}

	#products {
		position: relative;
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-auto-rows: min-content(1fr);

		.product-shadow {
			display: grid;
			justify-content: center;
			grid-column: 1/11;
			grid-row: 1/2;
			z-index: 0;

			&__up,
			&__down {
				font-size: 36rem;
				line-height: 1em;
				text-transform: uppercase;
				font-weight: bold;
				color: #cccccc18;
			}

			&__up {
				margin-left: 2.8em;
			}
			&__down {
				margin-left: 2.1em;
			}
		}

		.item-1,
		.item-2, 
		.item-3 {
			position: relative;
			display: flex;
			grid-column: 1/11;
			justify-content: space-between;
			align-items: center;
		}

		.item-1 {
			grid-row: 1/3;
		}

		.item-2 {
			grid-row: 3/4;
		}


		.item-1 {
			margin-top: 15em;
		}
		.image {
			background-position: center;
			background-size: cover;
			width: 50%;
		}


		.item-1, .item-2, .item-3 {
			.text {
				display: flex;
				flex-direction: column;
				padding-right: 10em;
				padding-top: 6em;
	
				color: $pure-white;
	
				.item-name {
					font-size: 3.5rem;
					font-weight: normal;
					color: $main-green;
					margin: 0 0.2em 1em 0;
				}
	
				ul {
					li {
						font-family: var(--font-thin);
						line-height: 2em;
						list-style: none;
						color: $light-grey;
						// padding-right: 12em;
	
						.main-topic {
							font-weight: bold;
						}
					}
				}
			}
		}


		.item-2 {
			flex-direction: row-reverse;
		}
	}
}
